body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
}

#podaci_novog_korisnika input {
  min-height: 30px;
  border: 3px solid lightgray;
  margin-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.podaci_novog_korisnika_field > :first-child {
  color: rgb(82, 81, 81);
}

#img_and_podaci_container {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 220px;
  padding-top: 50px;
  padding-left: 30px;
}

#podaci_novog_korisnika {
  display: grid;
  gap: 20px;
}

.podaci_novog_korisnika_field {
  display: grid;
  gap: 3px;
  align-content: flex-start;
}

#slika_novog_korisnika_container {
  border: 3px solid lightgray;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#svg_novog_korisnika svg {
  height: 50px;
  width: auto;
  color: rgb(82, 81, 81);
}

#add_img_text_container {
  color: rgb(82, 81, 81);

  padding-top: 5px;
}
/*for chrome, opera, safari*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*for firefox*/
input[type="number"] {
  -moz-appearance: textfield;
}

#action_buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

#otkazi_button {
  background-color: #c90303;
  color: white;
}

#sacuvaj_button {
  background-color: #017316;
  color: white;
}

#otkazi_button,
#sacuvaj_button {
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid lightgray;
}

#ime_novog_korisnika > div {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
}

#text_container {
  color: rgb(82, 81, 81);
}
