main {
  padding-left: 20px;
}

@media (max-width: 600px) {
  body {
    padding-top: 90px;
  }
}

hr {
  margin-top: 20px;
}

#aktivnosti_i_rezervacije_container {
  display: grid;
  grid-auto-flow: column;
  margin-top: 30px;
}

@media (max-width: 600px) {
  #aktivnosti_i_rezervacije_container {
    grid-auto-flow: row;
    gap: 30px;
  }

  h2 {
    text-align: center;
  }
}

.transakcija_item {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 15px;
  align-items: center;
}

@media (max-width: 600px) {
  #transakcija_item_container {
    line-height: 1.35;
  }

  .transakcija_item {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
  }
}
.transakcija_item_text_section {
  display: grid;
  gap: 5px;
}

.transakcija_item_text_section > :first-child {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
  color: grey;
  font-weight: 700;
}

#aktivnosti_container > :first-child {
  margin-bottom: 15px;
}

.transakcija_item img {
  height: auto;
  width: 50px;
  border-radius: 50%;
}

#transakcija_item_container {
  display: grid;
  gap: 15px;
}

.transakcija_item_text_section a {
  text-decoration: none;
}

#table_and_link_container {
  display: grid;
  gap: 10px;
}

.table_row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  font-weight: 500;
  color: rgb(105 104 104);
  border-bottom: 2px solid lightgray;
  padding-bottom: 10px;
  gap: 15px;
  align-items: center;
}

@media (max-width: 600px) {
  .table_row {
    grid-auto-flow: row;
    justify-items: center;
  }
}

.table_row > :first-child svg {
  width: 50px;
  height: auto;
  fill: lightgray;
}

.table_row > :first-child {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

#rezervacije_container > :first-child {
  margin-bottom: 15px;
}

.check_xmark_container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}

.check_xmark_container button {
  border: none;
  background-color: transparent;
}

.check_button,
.x_button {
  width: 15px;
  height: auto;
  fill: rgb(73, 73, 73);
}

.check_button {
  width: 20px;
}

.datum_rezervacije {
  text-align: center;
  color: rgb(67, 67, 67);
  padding: 5px;
  background-color: lightgray;
}

#table_link {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

#table_link svg {
  width: 30px;
  height: auto;
  fill: blue;
}

#statistika_container {
  margin-top: 50px;
}
