body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

main {
  /* prevent header covering main content */
  padding-top: 200px;
  padding-left: 5%;
  padding-right: 5%;
}

button {
  user-select: none;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}
