@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;

  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  /* prevent sidebar covering content*/
  padding-left: 49px;
  padding-right: 5%;
}

button {
  user-select: none;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}
