*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;

  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  /* prevent sidebar covering content*/
  padding-left: 49px;
  padding-right: 5%;
}

button {
  user-select: none;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}
