.nav-toggle-button {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  pointer-events: initial;
  background-color: transparent;
}

.line-1,
.line-3 {
  transition: transform 300ms ease;
}

.line-2 {
  transition: opacity 300ms ease;
}

.sidebar-open .line-1 {
  transform: rotate(45deg) translate(39%, 332%);
}

.sidebar-open .line-2 {
  opacity: 0;
}

.sidebar-open .line-3 {
  transform: rotate(-45deg) translate(23%, -200%);
}

.hamburger-menu-icon {
  width: 20px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
}
