@import "../css/menu.css";
@import "../css/hambtn.css";

body {
  /* prevent header covering main content */
  padding-top: 100px;
}

header {
  background-color: #363bc2;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

#open_book {
  height: 40px;
  fill: white;
}

#header_naslov_container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
}

#header_naslov_text {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

#header_actions_container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
}

#header_actions_container > svg {
  height: 30px;
  fill: white;
}

#header_actions_container img {
  height: 35px;
  border-radius: 50%;
}

#kreiraj_button {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  background-color: #0b0e75;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
}

#kreiraj_button span {
  color: white;
  font-weight: 700;
  letter-spacing: 1.25px;
  font-size: 16px;
}

#kreiraj_button svg {
  font-size: 30px;
  color: white;
  height: 30px;
}

.menu_root a {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  justify-content: start;
}

.menu_root a svg {
  font-size: 20px;
  color: black;
}

#profile_img_button {
  height: 35px;
  width: auto;
  border-radius: 50%;
  border: none;
}

#mobile_header_menu_container {
  display: none;
}

@media (max-width: 600px) {
  #header_actions_container {
    display: none;
  }

  #mobile_header_menu_container {
    display: initial;
  }

  #header_naslov_text {
    font-size: 20px;
  }

  #open_book {
    height: 25px;
  }

  .menu_item {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid grey;
  }

  .menu_root > button {
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
  }

  button svg {
    font-size: 20px;
  }

  .menu_item img {
    height: 20px;
    border-radius: 50%;
  }
}
