.page_nav_link_item svg {
  width: 20px;
  height: auto;
}

.page_nav_link_item {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.page_nav_links_container {
  display: grid;
  gap: 20px;
  padding-left: 20px;
}

.page_nav_links_and_table_container {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: start;
}

#table-container {
  margin-top: 0px;
}

h1 {
  margin: 15px 15px 20px 15px;
  font-size: 30px;
  color: rgb(54, 54, 54);
}

.table_and_search_container {
  display: grid;
  gap: 10px;
}

.search_container {
  margin-left: auto;
}
