#tab_buttons_container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-right: 2px;
}

#content_container {
  margin-top: 50px;
}

.tab_content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  min-width: 70%;
}

table {
  overflow-x: auto;
  overflow-y: auto;
}

.checkbox_table_cell {
  width: 3px;
}

#polisa_data_list {
  max-width: 80%;
}

#polisa_data_list > div {
  padding: 20px 40px;
  border-bottom: 2px solid lightgray;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
}

#polisa_data_list input {
  min-height: 30px;
  border: 3px solid lightgray;
  margin-right: 10px;
  padding-left: 10px;
}
