table {
  border: 3px solid lightgrey;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid lightgray;
}

#table-container {
  margin-top: 15px;
}
